/****
Custom CSS for bcoin docs
*****/

/* Code Snippets */
pre {
  border-radius: 0 !important;
  border:1px solid #efefef !important;
}

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: 'Ubuntu Mono', monospace;
  /*font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;*/
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/** Snippet copy button **/
/** Based on styles from clipboard.js demo **/
pre .copy-button img {
  max-width: 15px;
  opacity: 1;
  display: inline;
    -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
pre .copy-button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: auto;
  margin-top: 0px;
  text-transform: inherit;
}

.snippet .copy-button.success:after {
  content: 'Copied!';
     -webkit-transition: all 3s;
  transition: all 3s;
}

.snippet .copy-button.success img {
  display: none;
      -webkit-transition: opacity 0s ease-in-out;
  -o-transition: opacity 0s ease-in-out;
  transition: opacity 0s ease-in-out;
}

.snippet:hover .copy-button, .snippet .btn:focus {
    opacity: 1;
}

pre .copy-button:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: none;
  box-shadow: 0 0 5px rgba(81,167,232,0.5);
}

.terminal {
  background-color: dimgray;
  color: white;
  padding: 5px;
  font-family: monospace;
  white-space: pre
}

.terminal a {
  text-decoration: none;
  color: white;
}

.aside {
  background-color: #b3c4fb;
  padding: 5px;
}

.aside span {
  font-weight: bold;
}