<article class="post format-image">
  <div class="row">
    <div class="col-sm-1"></div>
    <!-- images not used yet
    <div class="col-sm-3">
      <div class="post-preview">
        <a href="#"><img src="assets/images/guides/get-started.png" alt=""></a>
      </div>
    </div> -->
    <div class="col-sm-10">
      <div class="post-content" style="color:#000;">
        <h2 class="post-title"><a href="<%= filePath %>"><%= title %></a></h2>
        <ul class="post-meta">
          <li>By <%= author %></li>
        </ul>
        <p><%= description %></p>
        <a href="<%= filePath %>" class="btn btn-lg btn-link btn-base">Start ›</a>
      </div>
    </div>
  </div>
</article>